*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack:#222;
$mainGreen:#0ae88d;
$mainWhite:#fff;
$mainGrey:#ececec;

body{
  // background: $mainGrey;
  // color: $mainGreen;
  font-family: 'Open Sans', sans-serif;
  
}